@import "icons/textAlign";

@import "icons/location";

@import "icons/home";

@import "icons/refresh";

@import "icons/share";

@import "icons/menu";

@import "icons/search";

@import "icons/volume"; // 7 iconos

@import "icons/cross";

@import "icons/check";

@import "icons/audioCtrl";   // 7 iconos

@import "icons/emoji";     // 3 iconos

@import "icons/caret"; // 4 iconos

@import "icons/arrow"; // 4 iconos

// ========================================== //

//@import "temp/logos";
//
//@import "temp/mail";
//
//@import "temp/rss";
//
//@import "temp/power";
//
//@import "temp/heart";
//
//@import "temp/infinity";
//
//@import "temp/flag";
//
//@import "temp/file";
//
//@import "temp/document";
//
//@import "temp/folder";
//
//@import "temp/eye";
//
//@import "temp/sliders";
//
//@import "temp/gear";
//
//@import "temp/signIn";
//
//@import "temp/signOut";
//
//@import "temp/support";
//
//@import "temp/dropper";
//
//@import "temp/chain";
//
//@import "temp/rename";
//
//@import "temp/book";
//
//@import "temp/forbidden";
//
//@import "temp/trash";
//
//@import "temp/keyboard";
//
//@import "temp/mouse";
//
//@import "temp/user";
//
//@import "temp/crop";
//
//@import "temp/display";
//
//@import "temp/devices";
//
//@import "temp/image";
//
//@import "temp/headphone";
//
//@import "temp/music";
//
//@import "temp/video";
//
//@import "temp/microphone";
//
//@import "temp/asterisk";
//
//@import "temp/terminal";
//
//@import "temp/paperClip";
//
//@import "temp/market";
//
//@import "temp/clock";
//
//@import "temp/exclamation";
//
//@import "temp/comment"; // 2 iconos
//
//@import "temp/chart"; // 3 iconos
//
//@import "temp/bookmark"; // 2 iconos
//
//@import "temp/filter";
//
//@import "temp/tag";
//
//@import "temp/calendar";
//
//@import "temp/camera";
//
//@import "temp/piano";
//
//@import "temp/ruler";
//
//@import "temp/socials";
//
//@import "temp/creditCard";
//
//@import "temp/cup";
//
//@import "temp/sun";
//
//@import "temp/moon";
//
//@import "temp/cart";
//
//@import "temp/sitemap";
//
//@import "temp/circle";
//
//@import "temp/spinner";
//
//@import "temp/bluetooth";