/**
 * Pin、
 * 需要调整尺寸的时候只需要设置font-size即可等比缩放
 * 主控参数默认值 font-size: $U20;
 * $strokeSize，笔触大小，也就是图标的线宽
 */

.icono-locationArrow {
    width: 1.5em;
    height: 1.5em;
    &:before {
        position: absolute;
        left: 0.35em;
        top: 0.8em;
        border-width: 0.3em 0 0.3em 0.3em;
        border-style: solid;
        border-left-color: transparent;
        transform: rotate(-45deg);
    }
    &:after {
        position: absolute;
        top: 0.5em;
        left: 0.1em;
        border-width: 0.5em;
        border-style: solid;
        border-bottom-color: transparent;
        border-left-color: transparent;
        transform: skew(-30deg, -30deg);
    }
}

.icono-pin {
    width: 1.1em;
    height: 1.1em;
    border: $strokeSize solid;
    border-radius: 50% 50% 50% 0;
    transform: rotate(-45deg);
    &:before {
        position: absolute;
        width: 0.3em;
        height: 0.3em;
        border: $strokeSize solid;
        border-radius: 50%;
        @extend .stickCenter;
    }
}