/**
 * Pin、
 * 需要调整尺寸的时候只需要设置font-size即可等比缩放
 * 主控参数默认值 font-size: $U20;
 * $strokeSize，笔触大小，也就是图标的线宽
 */


.icono-pin{
    width: $U26;
    height: $U26;
    @extend .icono-stroke;
    border-radius: 50% 50% 50% 0;
    transform: rotate(-45deg);
    margin: $U1 $U4 $U7;
    &:before{
        position: absolute;
        width: $U6;
        height: $U6;
        @extend .icono-stroke;
        border-radius: 50%;
        @extend .stickCenter;
    }
}